.wrapper {
    text-align: center;
    height: 50px
}

button.plus {
    margin-right: 1vw;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 5px #0056b3;
}