.count {
    color: yellow;
    font-size: 250px;
    font-family: Digital, serif;
}

.foul {
    display: flex;
    flex-direction: column;
}

.home {
    align-items: flex-end;
}
.away {
    align-items: flex-start;
}

.foul span {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: white;
}

@media (max-width: 767px) {
    .foul span{
        font-size: 30px;
    }
    .count { font-size: 100px; }
}

@media (max-width: 430px) {
    .foul span{
        font-size: 20px;
    }
    .count { font-size: 80px; }
}