.wrapper {
    flex: 1 42%;
}

.buttonGroup {
    text-align: center;
}

.shot {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Digital, Serif;
    font-size: 400px;
    color: yellow;
}

@media (max-width: 767px) {
    .shot { font-size: 130px; }
}

@media (max-width: 430px) {
    .shot { font-size: 100px; }
}