.bottom {
    display: flex;
    align-items: center;
    width: 100%;
    flex: 1;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 85%;
    text-align: center;
}

.startButton {
    width: 103px
}
