.bottom {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: calc(50% - 45px);
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;

    text-align: center;
}

@media (max-width: 767px) {
    .bottom {
        height: 50%;
    }
    .timeWrapper { font-size: 120px; }
}

@media (max-width: 430px) {
    .bottom {
        height: 50%;
    }
    .timeWrapper { font-size: 100px; }
}
