.main {
    padding: 15px;
    background: black;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing:border-box;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/* 768px 보다 큰 경우 */
@media screen and (min-width: 769px) {
    body {
        font-size: 16px;
    }
}