.top {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 50%;
    justify-content: space-between
}

.top > div {
    flex: 1
}


.colon {
    display: block;
    font-family: Digital, serif;
    color: red;
}

.center {
    text-align: center;
}

.center button:first-child {
    margin-right: 0;
    margin-bottom: 5px;
}

.timeWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 400px;
}

@media (max-width: 767px) {
    .timeWrapper { font-size: 120px; }
}

@media (max-width: 430px) {
    .timeWrapper { font-size: 100px; }
}

.buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}
