.top {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.top > div {
    flex: 1
}

.colon {
    display: block;
    font-family: Digital, serif;
    font-size: 22rem;
    color: red;
}

.center {
    text-align: center;
}

.center button:first-child {
    margin-right: 0;
    margin-bottom: 5px;
}

.buttonWrapper {
    text-align: center;
    height: 50px
}

.startBtn {
    width: 103px
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}
